<div class="container">
  <h1 class="mt-5 animated-heading">Product List</h1>
  
  <div class="mb-3">
    <input
      type="text"
      class="form-control form-control-lg"
      placeholder="Filter by product name"
      (input)="onFilterChange($event)"
      style="border-radius: 25px;"
    />
  </div>

  <div class="mb-3 sort-container">
    <select class="form-select form-select-lg" (change)="onSortChange($event)" style="border-radius: 25px;">
      <option value="">Sort By Price</option>
      <option value="asc">Low to High</option>
      <option value="desc">High to Low</option>
    </select>
  </div>
  <div style="margin-bottom: 50px;"></div> 
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4" *ngFor="let product of filteredProducts">
      <div class="card border border-secondary" style="height: 100%">
        <div class="image-container">
          <img [src]="product.image" class="card-img-top product-image" alt="{{ product.title }}" />
          <div class="price-div tilted-price">Price: <span class="price-number">${{ product.price }}</span></div>
        </div>
        <div class="card-body">
          <div class="text-container">
            <h5 class="card-title product-title">{{ product.title }}</h5>
            <p class="card-text product-description">{{ product.description }}</p>
          </div>
          <button class="btn btn-primary add-to-cart-btn w-100">Add to Cart</button> <!-- Full-width button -->
        </div>
      </div>
    </div>
  </div>
</div>
